@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body, html {
    background-color: hsl(233, 47%, 7%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.flex-container {
    Display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flex-container-content {
    border-radius: 10px 0px 0px 10px;
    height: 70%;
    width: 40%;
    background-color: hsl(244, 38%, 16%);
}

.flex-container-image {
    border-radius: 0px 10px 10px 0px;
    background: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 70%;
    width: 40%;
}

.flex-container-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background: hsla(277, 64%, 61%); 
    mix-blend-mode: multiply;
}

.content-title {
    font-family: 'Inter';
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 20px 0px 0px 60px;
    font-size: 2rem;
}

.content-title span {
    color: hsl(277, 64%, 61%);
}

.content-body-text {
    font-family: 'Inter';
    color: hsla(0, 0%, 100%, 0.6);
    padding: 0em 0em 0em 3em;
    font-weight: 400;
    line-height: 1.8;
    font-size: 1rem;
    padding: .5em 0em 1.5em 4em;
}

.body-text-span {
    font-family: 'Inter';
    justify-content: space-around;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.content-body-text {
    font-family: 'Lexend-Deca';
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}

.content-lower-body {
    display: flex;
    justify-content: center;
}

.lower-body-text {
    Display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 2.5em;
    width: 60%;
}

.lower-body-text h3 {
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

.lower-body-text p {
    text-transform: uppercase;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    margin: 0;
}




/* Media Query */
@media only screen and (max-width: 480px), (min-height: 1020px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 2em;
    }
    .flex-container-content {
        border-radius: 0px 0px 10px 10px;
        height: auto;
        width: 40%;
        background-color: hsl(244, 38%, 16%);
    }
    .flex-container-image {
        border-radius: 10px 10px 0px 0px;
        background: url(images/image-header-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        height: 60%;
        width: 40%; 
    }
    .content-title {
        font-family: 'Inter';
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        padding: 1em 1.5em 0em 2em;
        font-size: 1.5rem;
    }
    .content-body-text {
        font-family: 'Inter';
        color: hsla(0, 0%, 100%, 0.6);
        padding: 0em 1em 1em 1em;
        font-weight: 400;
        line-height: 1.5;
    }
    .content-lower-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lower-body-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-lower-body h3 {
        padding: 0;
        font-size: 2rem;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
    }
    
    .content-lower-body p {
        padding: 0;
        font-family: 'Inter';
        font-size: 1.5rem;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.6);
    }
}
