@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body, html {
    background-color: hsl(233, 47%, 7%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.flex-container {
    Display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.flex-container-content {
    height: 60%;
    width: 40%;
    background-color: hsl(244, 38%, 16%);
}

.flex-container-image {
    background: url(images/image-header-desktop.jpg);
    position: relative;
    overflow: hidden;
    height: 60%;
    width: 40%;
}

.flex-container-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background: rgba(170, 92, 219, 0.664);
}




